@@charset "UTF-8";
@font-face {
  font-family: 'Roboto', sans-serif;
}
body, header, nav, main, footer, ul, li, img p{
  display: block;
  box-sizing: border-box;
}
html {
  background-color: tan;
}
body {
  background-color: rgb(231, 158, 17);
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

section img {
  float: left;
  /* padding-left: 2px; */
  box-sizing: border-box;
}
header  {

  display: block;
  /* float: left; */
}
header > img {
  /*clear: left;*/
  /* display: block; */
  /*float: left;*/
  /* width: 100%; */
}

article img{
  display: block;
  position: relative;
width: 50%;
  margin: auto;
}
article p{
  padding: 10px;

}
nav {
  background-color: rgb(231, 141, 141);
  height: 20px;
  clear: both;
}
nav ul{
  width: 60%;
margin:auto;
color: white;
}
nav li {
  float: left;
  text-align: center;
  width: 25%;
}
nav a:hover {
  background-color: yellow;
}
footer  {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
}
